*{
    font-family: 'Source Sans Pro', sans-serif;
}

html{
    height: 100vh;
    width: 100vw;
}

body {
    background-color: #cd84f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
svg{
    background-color: white;
    box-shadow: 0px 3px 15px black;
    border-radius: 5px;
    padding: 10px;
}

.bar{
    background-color: #2B7A78;
    border-color: #2B7A78;
    fill: #2B7A78;
}

.bar:hover{
    fill: #17252A
}

g{
    color: #17252A
}

#tooltip{
    margin-top: 10px;
    color: black;
    font-size: 28px;
}

#title{
    font-size: 30px;
    fill: black;
    text-align: center;
}
